{% load static %}

<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Мастер пол{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>

<body>

    <header>
        <nav class="uk-navbar-container uk-navbar" uk-navbar style="background-color: #F4E8D3;">

            <div class="uk-navbar-left uk-margin-left">
                <a href="{% url 'partner_list' %}" class="uk-navbar-item uk-logo">
                    <img src="{% static 'imgs/logo.png' %}" alt="logo" width="50" height="50"> Мастер пол
                </a>
            </div>
            
            <div class ="uk-navbar-right uk-margin-right">
                <div class="uk-navbar-item">
                    {% if user.is_authenticated %}
                    <a class="uk-button uk-button-primary" href="#" style="background-color: #67BA80;">Выйти</a>
                    {% else %}
                    <a class="uk-button uk-button-primary uk-margin" href="#" style="background-color: #67BA80;">Войти</a>
                    {% endif %}
                </div>
            </div>

        </nav>
    </header>

    {% block content %}{% endblock %}

</body>

</html>